@{
    ViewData["Title"] = "Logged Out";
}


<gds-row>
    <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">
        <gds-heading heading-type="H2" text="You are signed out"></gds-heading>
        <gds-paragraph><a asp-action="Home" asp-controller="Home" class="govuk-link">You can log back in</a>.</gds-paragraph>

    </gds-column>
</gds-row>